{% extends "base.html" %}

{% block content %}

{% block head %}

{% endblock head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="card-title">Import File for workspace '{{workspace}}'</h2>
            <form method="post" action="/addFiles" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileInput">Choose file to import:</label>
                    <input type="hidden" name="workspace" value="{{workspace}}">
                    <input type="file" class="form-control-file" id="fileInput" name="fileimported" required>
                </div>
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}