{% extends "base.html" %}

{% block content %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock head %}



<div class="global-container-workspace">
    <!-- to show available sub-workspaces (the root workspace for this user) -->
     <!-- each sub workspace should be in a proprt div>ul.workspaces -->

    <h3>Workspaces</h3>
    {% for workspace in workspaces %}
    <div class="workspaces">
            <div class="name">{{workspace["workspace"]}}</div>
            <ul class="datasets">
                <!-- in case the user has no datasets => show this -->
                <div class="empty">
                    This workspace is Empty!
                    <br>
                    <h4>Please upload some datasets</h4>
                    <img src="{{url_for('static',filename='imgs/emptyworkspace.png')}}" alt="">
                </div>
                <!-- else => loop over datasets -->
                {% for dataset in workspace['datasets'] %}
                    <div class="workspace"> <!-- the dataset compo -->
                        <a href="#" class="title">{{dataset}}</a>
                        <a href="/view/{{dataset}}" class="tool">View</a>
                        <a href="/manage/{{dataset}}" class="tool">Manage</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <h3>Test compo</h3>
    <!-- start test -->
    <div class="workspaces">
        <div class="name">Workspace name</div>
        <ul class="workspaces">
            <div class="workspace">
                <a href="#" class="title" title="Dataset name">Test</a>
                <a href="/view/{{dataset}}" class="tool">View</a>
                <a href="/manage/{{dataset}}" class="tool">Manage</a>
            </div>
            
            <div class="workspace">
                <a href="#" class="title" title="Dataset name">Test</a>
                <a href="/view/{{dataset}}" class="tool">View</a>
                <a href="/manage/{{dataset}}" class="tool">Manage</a>
            </div>
        </ul>
    </div>
    <!-- end test -->
    
</div>


{% endblock content %}