{% extends "base.html" %}

{% block content %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock head %}



<div class="global-container-workspace">
    <!-- to show available sub-workspaces (the root workspace for this user) -->
     <!-- each sub workspace should be in a proprt div>ul.workspaces -->

    <h3>Workspaces</h3>
    <!-- to create new workspaces -->
    
    {% for workspace in workspaces %}
    <div class="workspaces">
            <div class="name">{{workspace["workspace"]}}</div>
            <ul class="datasets">
                <!-- in case the user has no datasets => show this -->
                <div class="empty">
                    This workspace is Empty!
                    <br>
                    <h4>Please upload some datasets</h4>
                    <img src="{{url_for('static',filename='imgs/emptyworkspace.png')}}" alt="">
                </div>
                <div>
                    <div>
                            <a class="btn btn-info add-files" href="/add/{{workspace['workspace']}}">add Files</a>
                            <a class="btn btn-danger" href="/delete/{{workspace['workspace']}}">Delete Workspace</a>
                    </div>
                </div>
                <!-- else => loop over datasets -->
                {% for dataset in workspace['datasets'] %}
                    <div class="workspace"> <!-- the dataset compo -->
                        <a href="#" class="title">{{dataset}}</a>
                        <a href="/view/{{dataset}}" class="tool">View</a>
                        <a href="/raw/{{workspace['workspace']}}/{{dataset}}" class="tool">View raw</a>
                        
                        <a href="/manage/{{dataset}}" class="tool">Manage</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <!-- alert that a workspace is deleted -->
    {% if deleted %}
        <script>
            alert('Workspace {{deleted}} deleted successfully')
        </script>
    {% endif %}
</div>


{% endblock content %}